<!DOCTYPE html>
<html>
  <head>
    <title>ClientApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<script type="text/javascript" src="https://cdn.rawgit.com/josepedro/RD_test/master/track_library.js"></script>
  <header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
   <nav>
     <tr>
       <td><%= link_to 'Home', home_url %></td>
       <td><%= link_to 'About', '\about' %></td>
       <td><%= link_to 'Price', '\price' %></td>
       <td><%= link_to 'Contact', '\contact' %></td>
     </tr>


   </nav>
 </div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
